/* Variables */
:root{
    --main-bg-color: #000;
    --main-text-color: #fff;
    --main-grey-color: #222;
    --main-red-color: #f40612;
    --secondary-grey-color: #303030;
    /* Font Sizes */
    --fs-16: 16px;
    --fs-18: 18px;
    --fs-20: 20px;
    --fs-24: 24px;
    --fs-26: 26px;
    --fs-28: 28px;
    --fs-32: 32px;
    --fs-40: 40px;
    --fs-48: 48px;
    --fs-64: 64px;
}

body{
    font-family: 'Roboto', sans-serif;
    background: var(--main-bg-color);
    color: var(--main-text-color);
}

/* Valores padrão para dispositivos móveis - Default values to mobile devices */
h1{
    font-size: var(--fs-28);
    font-weight: 600;
}
h2, h3{
    font-size: var(--fs-18);
    font-weight: 400;
}
h5{
    font-size: var(--fs-16);
    font-weight: 400;
}

/* Bootstrap */

.btn{
    border-radius: 0;
    padding: 8px 16px;
    background: var(--main-red-color);
}

/* Custom Styles */
.navbar{
    background: transparent;
    padding: 16px;
    position: absolute;
    width: 100%;
}
.navbar-brand{
    color: #e50914;
    font-weight: bold;
    font-size: var(--fs-24);
    letter-spacing: 2px;
}
main {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0.8) 100%), url(../assets/images/pexels-martin-lopez-1117132.jpg);
    background-size: cover;
}
.main-content {
    margin: 0 auto;
    position: relative;
    text-align: center;
}
.main-content__input-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.main-content__input-container {
    flex: 1;
    max-width: 500px;
    padding: 12px;
    width: 100%;
}
.main-content{
    padding: 104px;
}
.benefits-section{
    padding: 32px 32px 40px 32px;
    text-align: center;
    border-bottom: 8px solid var(--main-grey-color);
}
.benefits-section:first-of-type{
    border-top: var(--main-grey-color);
}
.benefits-content div{
    padding: 16px;
}
.benefits-content img{
    width: 100%;
    height: auto;
}
.accordion{
    max-width: 800px;
    margin: 0 auto;
    background: var(--main-grey-color);
}
.accordion-item{
    border: none;
    background: var(--secondary-grey-color);
    margin-bottom: 8px;
}
.accordion-button{
    background: var(--main-grey-color);
    color: var(--main-text-color);
}

/* BREAKPOINTS */
@media (min-width: 992px){
    h1{
        font-size: var(--fs-64);
        font-weight: 600;
    }

    h2{
        font-size: var(--fs-26);
    }

    h3{
        font-size: var(--fs-20);
        font-weight: 400;
    }

    h5{
        font-size: var(--fs-16);
    }
}

/* BREAKPOINTS LARGE DEVICES */
@media (min-width: 1200px){
    .navbar-brand{
        font-size: var(--fs-40);
    }

    .main-content__input-container input{
        height: 70px;
    }

    .main-content__input-container button{
        height: 70px;
    }
}