/* Variables */
:root{
    --main-bg-color: #000;
    --main-text-color: #fff;
    --main-grey-color: #222;
    --main-red-color: #f40612;
    --secondary-grey-color: #303030;
    /* Font Sizes */
    --fs-16: 16px;
    --fs-18: 18px;
    --fs-20: 20px;
    --fs-24: 24px;
    --fs-26: 26px;
    --fs-28: 28px;
    --fs-32: 32px;
    --fs-40: 40px;
    --fs-48: 48px;
    --fs-64: 64px;
}

body{
    font-family: 'Roboto', sans-serif;
    background: var(--main-bg-color);
    color: var(--main-text-color);
}

/* Valores padrão para dispositivos móveis - Default values to mobile devices */
h1{
    font-size: var(--fs-28);
    font-weight: 600;
}
h2, h3{
    font-size: var(--fs-18);
    font-weight: 400;
}
h5{
    font-size: var(--fs-16);
    font-weight: 400;
}

/* Bootstrap */

.btn{
    border-radius: 0;
    padding: 8px 16px;
    background: var(--main-red-color);
}

/* Custom Styles */
.navbar{
    background: transparent;
    padding: 16px;
    position: absolute;
    width: 100%;
}
.navbar-brand{
    color: #e50914;
    font-weight: bold;
    font-size: var(--fs-24);
    letter-spacing: 2px;
}
main {
    background: linear-gradient (to top, rgba(0,0,0,0.8) 0, rgba(0,0,0,0) 40%, rgba(0,0,0,0) 75%, rgba(0,0,0,0.8) 100%), url(../assets/images/pexels-martin-lopez-1117132.jpg);
    background-size: cover;
}
.main-content {
    margin: 0 auto;
    position: relative;
    text-align: center;
}
.main-content__input-container {
    display: flex;
}